@model IEnumerable<SimpleSocialMedia.Models.PostModel>

@using System.Security.Claims;

@{
    ViewData["Title"] = "Новости";
    var defaultAvatarUrl = Url.Content("~/images/default-user-pic.jpg");
}

<head>
    <link rel="stylesheet" href="~/css/feed.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<h1>Лента новостей</h1>

<form id="new-post-form" class="new-post-form">
    <div class="new-post-header">
        <img class="avatar" src="@(User.Claims.FirstOrDefault(c => c.Type == "AvatarUrl")?.Value ?? defaultAvatarUrl)" alt="Avatar" onerror="this.onerror=null; this.src='@(defaultAvatarUrl)';" />
        <textarea id="new-post-content" placeholder="Введите текст..." rows="4" required></textarea>
    </div>
    <hr class="sep"/>
    <button class="new-post-button">Опубликовать</button>
</form>

<div class="post-feed">
    @await Html.PartialAsync("_PostsListPartial", Model)
</div>

<script src="~/js/feed.js" />