@model IEnumerable<SimpleSocialMedia.Models.PostModel>

@using System.Security.Claims;

@{
    ViewData["Title"] = "Новости";
    var defaultAvatarUrl = Url.Content("~/images/default-user-pic.jpg");
}

<head>
    <link rel="stylesheet" href="~/css/feed.css" />
    <link rel="stylesheet" href="~/css/posts-feed.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<div class="tabs">
    <button class="tab-link active" data-type="my-news">Мои новости</button>
    <button class="tab-link" data-type="popular">Популярное</button>
</div>

<div class="post-feed">
    @await Html.PartialAsync("_PostsListPartial", Model)
</div>

<script src="~/js/feed.js"></script>
<script src="~/js/posts-feed.js"></script>