.post {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 40%;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-info {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: bold;
}

.created-at {
    color: gray;
    font-size: 0.9em;
}

.likes {
    display: flex;
    align-items: center;
}

.like-actions-pic {
    margin-right: 5px;
}
