#new-post {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.new-post-header {
    display: flex;
    align-items: flex-start;
}

.post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.new-post-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px 10px 0 0;
    font-size: 16px;
    overflow: hidden;
    max-height: 60vh;
    resize: none;
    transition: border-color 0.3s;
}

textarea:focus {
    border-color: #007BFF;
    outline: none;
}

.sep {
    margin-top: 10px;
}

.new-post-button {
    align-self: flex-end;
    background-color: rgb(29, 155, 240);
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
}


.post {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    padding-right: 40px;
    margin-bottom: 20px;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.post-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.username-link {
    pointer-events: none;
    text-decoration: none;
}

.username {
    color: #000;
    font-weight: bold;
    cursor: pointer;
    pointer-events: auto;
}

.username:hover {
    text-decoration: underline;
    color: #000;
}

.created-at {
    color: gray;
    font-size: 0.9em;
}

.post-actions {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.likes {
    display: flex;
    align-items: center;
}

.like-actions-pic {
    margin-right: 5px;
}

.like-toggle {
    cursor: pointer;
}

.post-menu, .comment-menu {
    position: relative;
    margin: 0;
}

.post-menu-button, .comment-menu-button {
    margin-left: auto;
}

.post-menu-content, .comment-menu-content {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    display: none;
}

.post-menu-content button, .comment-menu-content button {
    background: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    font-size: 14px;
}

.post-menu-content button:hover, .comment-menu-content button:hover {
    background: #f0f0f0;
    border-radius: 10px;
}

.post-comments {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    justify-content: space-between;
}

.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
}

.comment-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.comment-content{
    margin-left: 40px;
}

.comments-delimiter {
    margin: 0;
    margin-bottom: 10px;
    margin-left: 40px;
    padding: 0;
}

hr {
    border: none;
    border-top: 1.6px gray solid;
    /*margin: 0;*/
}

.post-content-delimiter {
    margin: 0;
}

.new-comment {
    background: #fff;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new-comment-header {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.new-comment-form {
    flex-grow: 1;
    margin-right: 10px;
}

.new-comment-form textarea {
    width: 100%;
    resize: vertical;
    min-height: 35px;
    max-height: 150px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 5px;
    font-size: 14px;
    overflow-y: auto;
}

.new-comment-button {
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-left: 5px;
}