.main {
    background-color: white;
    border-radius: 10px;
    min-height: 80vh;
}

.header {
    display: flex;
    flex-direction: column;
    height: 140px;
}

.header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60%;
    padding: 20px 0;
}

.back-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 15px 0 25px;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.back-button:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.current-user-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.current-user-info p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.current-user-name {
    font-weight: bold;
    font-size: 18px;
}

.current-user-username {
    color: gray;
}

.header-actions {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
}

.tab-link {
    background-color: transparent;
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    color: gray;
    font-weight: 600;
    width: 100%;
    transition: background-color 0.3s;
}

.tab-link.active {
    color: black;
}

.tab-link:hover {
    background-color: rgb(128, 128, 128, 0.1);
}

.tab-link.active::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 5px;
    background-color: rgb(29, 155, 240);
    bottom: 0;
    border-radius: 5px;
}

.user-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    border: none;
    cursor: pointer;
}

.user-card:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    align-self: start;
    margin-top: 5px;
}

.user-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.user-details p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.name {
    font-weight: bold;
}

.username {
    color: gray;
}

.user-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.subscribe-button {
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.subscribe-button.unsubscribe {
    background-color: white;
    color: rgb(29, 155, 240);
    border: 2px solid rgb(29, 155, 240);
}

.subscribe-button:hover {
    opacity: 0.9;
}

.subscribe-button.unsubscribe:hover {
    color: red;
    border: 2px solid red;
}

.user-card.no-hover:hover {
    background-color: rgba(128, 128, 128, 0.07);
}

.divider {
    border: none;
    border-top: 1.6px gray solid;
    margin: 0;
}
